# Ở đây không có mật khẩu thật, chỉ để minh họa để người khác biết cần cấu hình những biến nào.

MONGODB_URI=your_mongodb_connection_string

DATABASE_NAME=clouddocs

JWT_SECRET_KEY=your_secret_key

SUPABASE_URL=your_supabase_url

SUPABASE_KEY=your_supabase_key
